p{
    color: #fff;
}
.event_div{
    width: 30px;
    background-color: #484848;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.mr-2{
    margin-right: 10px;
}