h3{
    color: #fff;
}
h2{
    color: #fff;
}
.btn{
    // width: 40px;
    // height: 40px;
    border-radius: 16px;
    margin: 10px;
    padding: 5px 10px;
    cursor: pointer;
    color: white;
    border: none;
}
.bg-red{
    background-color: red;
}
.bg-black{
    background-color: black;
}
.bg-green{
    background-color: green;
}