.control_div{
    width: 100px;
    height: 100px;
    background-color: rgb(255, 189, 189);
    margin-top: 10px;
}

.control_div1{
    width: 100px;
    height: 100px;
    background-color: red;
    margin-top: 10px;
}

.control_div2{
    width: 100px;
    height: 100px;
    background-color: blue;
    margin-top: 10px;
}
.control_div3{
    width: 100px;
    height: 100px;
    background-color: yellow;
    margin-top: 10px;
}
.control_div4{
    width: 100px;
    height: 100px;
    background-color: white;
    margin-top: 10px;
}