<!-- <app-button-click></app-button-click> -->
<!-- <app-counter></app-counter> -->
<!-- <app-event></app-event> -->
<!-- <app-getset></app-getset> -->
<!-- <app-control-flow></app-control-flow> -->
<!-- <app-for-loop></app-for-loop> -->
<!-- <app-two-way-data-binding></app-two-way-data-binding> -->
<!-- <app-todolist></app-todolist> -->
<!-- <app-dynamicstyling></app-dynamicstyling> -->
<!-- <app-directives></app-directives> -->
<!-- <app-basicrounting></app-basicrounting> -->
<!-- <app-headerrouting></app-headerrouting> -->
<!-- <app-dynamic-routing></app-dynamic-routing> -->
<!-- <app-reactiveform></app-reactiveform> -->
<!-- <app-templatedrivenform></app-templatedrivenform> -->
<!-- <app-passdata></app-passdata> -->
<!-- <app-pipes></app-pipes> -->
<!-- <app-lifecycle></app-lifecycle> -->
<!-- <app-services></app-services> -->
<!-- <app-api></app-api> -->
<app-call-api></app-call-api>
<!-- <app-lazyloading></app-lazyloading> -->