nav {
    background-color: #f8f9fa;
    padding: 1rem;
    border-bottom: 2px solid #e0e0e0;
    display: flex;
    justify-content: space-between;
  }
  
  nav h2 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
    color: #333;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    padding: 0;
    margin: 0 0 1rem 0;
  }
  
  nav ul li {
    margin: 0;
  }
  
  nav ul li a {
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    color: #007bff;
    font-weight: 500;
    transition: color 0.3s ease;
  }

.active{
  color: #fff !important;
  background-color: #444;
}
  